

<div class="login">
    <div class="login__title">Вход</div>
    <form class="login__form">
        <div class="login__form-nickname">{{nicknameInput}}</div>
        <div class="login__form-password">{{passInput}}</div>
        <button class="login__btn">{{loginBtn}}</button>
    </form>
    <a href="#" class="login__registration">Нет аккаунта?</a>
</div>
