<div class="login">
    <div class="login__title">Вход</div>
    <form class="login__form">
        {{{login}}}
        {{{password}}}
       <div class="login__btn">
           {{{button}}}
       </div>
    </form>
    <a href="registration" class="login__registration link">Нет аккаунта?</a>
</div>
