<p class="input-box__over-text">{{overText}}</p>
<input type={{inputType}} name="{{name}}" class="input-box__input">
<div class="input-box__bottom-line"></div>
<span class="input-box__error">{{error}}</span>