.input-box {
    display: flex;
    flex-direction: column;
    gap: 7px;
    max-width: 280px;

    &__over-text {
         font-family: 'Inter';
         font-style: normal;
         font-weight: 500;
         font-size: 9px;
         line-height: 9px;
         color: #999999;
     }

     &__input {
        border: none;
        font-family: 'Inter';
        font-style: normal;
        font-weight: 500;
        font-size: 13px;
        line-height: 13px;
        color: #1E1E1E;
        outline: none;
      }

     &__bottom-line {
        border: 1px solid #3369F3;
      }
}
