.btn {
    width: 280px;
    height: 37px;
    background: var(--main-blue);
    border-radius: 8px;
    border: none;
    cursor: pointer;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 13px;
    line-height: 13px;
    text-align: center;
    color: var(--button-text-color);
}
