.avatar-empty {
    width: 130px;
    height: 130px;
    background: var(--light-grey);
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.user-settings {
    display: flex;
    flex-direction: column;
    align-items: center;

    &__name {
        margin-top: 21px;
        font-style: normal;
        font-weight: 600;
        font-size: 16px;
        line-height: 16px;
        color: var(--main-font-color);
    }

    &__data-list {
        display: flex;
        flex-direction: column;
        gap: 10px;
        margin-top: 60px;
        width: 510px;
    }

    &__data-item {
        display: flex;
        align-items: center;
        justify-content: space-between;
        font-style: normal;
        font-weight: 500;
        font-size: 13px;
        color: var(--sub-text-color);
    }

    &__data-item-text {
        font-style: normal;
        font-weight: 500;
        font-size: 13px;
        color: var(--main-font-color);
    }

    &__data-item-bottom-line {
        width: 100%;
        height: 1px;
        background: var(--border-color);
    }

    &__btn {
        margin-top: 60px;
    }
}
