<div class="registration">
    <div class="registration__title">Регистрация</div>
    <form class="registration__form">
        <div class="registration__form-email"></div>
        <div class="registration__form-login"></div>
        <div class="registration__form-name"></div>
        <div class="registration__form-surname"></div>
        <div class="registration__form-phone"></div>
        <div class="registration__form-pass"></div>
        <div class="registration__form-second-pass"></div>
    </form>
    <div class="registration__btn"></div>
    <a href="#" class="registration__login">Войти</a>
</div>