.chat {
    width: 100vw;
    height: 95vh;
    display: flex;

    &__left {
        padding: 0px 10px 10px 10px;
        flex-basis: 25%;
        border-right: 1px solid var(--border-color);
    }

    &__profile-btn {
        font-family: 'Inter';
        font-style: normal;
        font-weight: 500;
        font-size: 12px;
        text-align: right;
        color: var(--sub-text-color);
        margin-top: 21px;
    }

    &__search {
        padding: 6px 10px;
        margin-top: 23px;
        display: flex;
        align-items: center;
        width: 100%;
        background: var(--light-grey);
        border-radius: 5px;
        height: 32px;
    }

    &__search-input {
        background: var(--light-grey);
        border: none;
        outline: none;

        font-family: 'Inter';
        font-style: normal;
        font-weight: 500;
        font-size: 12px;
        color: var(--main-font-color);
    }

    &__list {
        margin-top: 14px;
    }

    &__item {
        height: 57px;
        cursor: pointer;
    }

    &__item-wrapper{
        display: flex;
        align-items: center;
        gap: 10px;
        padding: 10px 0;
    }

    &__item-avatar {
        width: 37px;
        height: 37px;
        background: var(--light-grey);
        border-radius: 100%;
    }

    &__item-title {
        font-style: normal;
        font-weight: 600;
        font-size: 13px;
        line-height: 13px;
        color: var(--main-font-color);
    }

    &__right {
        padding: 10px 20px;
        width: 100%;
        display: flex;
        flex-direction: column;
        &__top {
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
        &__profile {
            display: flex;
            justify-content: center;
            align-items: center;
        }
        &__nickname {
            margin-left: 10px;
        }
        &__line-wrapper-top {
            margin-top: 10px;
        }
        &__messages {
           flex-basis: 100%;
        }
        &__message-form {
            height: 54px;
            padding: 10px 0px;
            display: flex;
            justify-content: center;
            align-content: center;
        }

    }
}

.kebab {
    display: flex;
    flex-direction: column;
    gap: 3px;

    &__item {
        background: #1E1E1E;
        width: 3px;
        height: 3px;
    }
}

.avatar-empty-chat {
    width: 34px;
    height: 34px;
    background: var(--light-grey);
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.line-wrapper {
    height: 1px;
    background: var(--border-color);
}
