.error-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    &__number {
         font-family: 'Inter';
         font-style: normal;
         font-weight: 500;
         font-size: 40px;
         line-height: 40px;
         text-align: center;
         color: #1E1E1E;
     }

     &__message {
          margin-top: 20px;
          font-family: 'Inter';
          font-style: normal;
          font-weight: 500;
          font-size: 20px;
          line-height: 20px;
          text-align: center;
          color: #1E1E1E;
      }

     &__comeback {
          margin-top: 69px;
          font-family: 'Inter';
          font-style: normal;
          font-weight: 500;
          font-size: 11px;
          line-height: 11px;
          text-align: center;
          color: #3369F3;
      }
}