.error-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    &__number {
         font-style: normal;
         font-weight: 500;
         font-size: 40px;
         line-height: 40px;
         text-align: center;
         color: var(--main-font-color);
     }

     &__message {
          margin-top: 20px;
          font-style: normal;
          font-weight: 500;
          font-size: 20px;
          line-height: 20px;
          text-align: center;
          color: var(--main-font-color);
      }

     &__comeback {
          margin-top: 69px;
          font-style: normal;
          font-weight: 500;
          font-size: 11px;
          line-height: 11px;
          text-align: center;
          color: var(--main-blue);
      }
}
